@import url('https://use.typekit.net/vus2geg.css');

@font-face {
    font-family: 'Constantia';
    src: url('/assets/fonts/constantia.ttf');
}

@font-face {
    font-family: 'Constantia-Italic';
    src: url('/assets/fonts/constani.ttf');
}

@font-face {
    font-family: 'Constantia-Bold';
    src: url('/assets/fonts/constanz.ttf');
}

@font-face {
    font-family: 'Wills-Architect';
    src: url('/assets/fonts/WillsArchitectural1.1.ttf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'aaux-next', sans-serif;
    font-weight: 800;
    font-style: normal;
    color: theme('colors.black');
    scroll-behavior: smooth !important;
    --scroll-behavior: smooth !important;
    scroll-snap-type: y proximity;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.react-grid-layout {
    position: relative;
}

.react-grid-item.react-draggable-dragging {
    z-index: 10;
    transition: none;
}

.react-grid-item {
    transition: transform 200ms ease-in-out;
}
